.bond {
                width: 5px;
                height: 10px;
                background: #777;
                display: block;
}

div#containerleft {
  width: 40%;
  float:left;
  text-align: left;  
 }

div#containerright {
  width: 45%;
  float:right;
  text-align: left;
 }